@import "tailwindcss";
body {
    background: linear-gradient(135deg, #d1c4e9 25%, #9575cd 25%, #9575cd 50%, #d1c4e9 50%, #d1c4e9 75%, #9575cd 75%, #9575cd 100%);
    background-size: 50px 50px;
    position: relative;
    cursor: url('./assets/cursor.png'), auto;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(255,255,255,0.3) 10%, transparent 10%), 
                radial-gradient(circle, rgba(255,255,255,0.3) 10%, transparent 10%);
    background-size: 50px 50px;
    background-position: 25px 25px, 0 0;
    pointer-events: none;
    z-index: -1;
}

.noScroll {
    -webkit-scrollbar: none; 
    overflow: auto;
}
*{
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-family: 'Inter', sans-serif;
}
